<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Statement</title>
</head>
<body>
    <h1>MIni Statement</h1>
    {% if error %}
        <p style = "color:red;"> {{ error }}</p>
    {% else %}
        <p> Account Number: {{ user_account_number }}</p>
        <p> Current Balance: {{ user_balance }}</p>
    <table border = "1">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Tranaction Type</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
           
                <tr>
                    <td>{{transaction_amount}}</td>
                    <td>{{transaction_type}}</td>
                    <td>{{transaction_timestamp}}</td>
                </tr>

        
            {% if csv_file_path %}
                <p><a href = "{{csv_file_path}}" download>download CSV</a></p>
            {% endif %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>