<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw</title>
</head>
<body>
    <h1>Withdraw</h1>
    <form action="{{url_for('withdraw')}}" method="post">
        <label>Account number:</label>
        <input type="text" name="account_number">

        <label>Amont:</label>
        <input type="text" name="amount">

        <button type="submit">Withdraw</button>
    </form>

    {% if message %}
        <p>{{message}}</p>
        <h2>Current Balance: {{current_balance}}</h2>
    {% endif %}
    {% if error %}
    <p style="color:red">{{error}}</p>
    {% endif%}
</body>
</html>